
.heading{
    display: flex;
    justify-content: center;
    font-size: 50px;;
    font-family: "Bebas Neue";
    background-color: rgb(255, 242, 225);
    padding: 50px;
}

.grid {
    height: 400px;
    width: 400px;
    display: flex;
  
    flex-direction: column;
    
    flex-grow: 1;
    box-shadow: 4px 4px 4px 4px black;
}
.grid-row{
    display: flex;
    height: 175px;
    width: 175px;

}
.grid-cell{
    border: 0.1px solid black;
    aspect-ratio: 1;

}



